<div>
  
  <app-tabs>
    <app-tab [title]="'Timers'">
      <app-timer *ngFor="let time of timers" [init]="time" (onComplete)="showEndAlertVisible()" ></app-timer>

      <button class="add" (click)="showAddtimer()">+</button>
    </app-tab>
    <app-tab [title]="'Crono'">Avaleible Crono</app-tab>
    <app-tab [title]="'Alarm'">Avaleible Alarm</app-tab>
  </app-tabs>



  <app-alert-view [hidden]="!isAddtimerVisible">
  
  <div header>
   Add Timer
  </div>

  <label>Set the number of seconds for your timer</label>
  <input [(ngModel)]="time" type="number">
  <button (click)="hiddenAddTimer()" class="cancel-button">Cancel</button>
<button (click)="submitAddtimer()">Ok</button>
</app-alert-view>


<app-alert-view [hidden]="!isEndAlertVisible">
  
  <div header>
  Tiempo Finalizado
  </div>

  <button (click)="hiddenEndAlertVisible()" class="cancel-button">Cancel</button>

</app-alert-view>



</div>


